<div class="card mx-auto mt-4" style="width: 480px;" >
    <h4 class="card-header text-center bg-info">SIGN UP</h4>
    <div class="card-body" >
       <form #signup = ngForm >
       <div class="form-group">
          <label>First Name</label>
          <input type="text" ngModel name="firstName" class="form-control" minlength="3" required pattern="^[a-zA-Z]{3,20}$">
          <div *ngIf="signup.controls['firstName']?.['touched'] && signup.controls['firstName']?.['errors']">
            <div *ngIf="signup.controls['firstName']?.['errors']?.['required']" class="invalid">Firstname is required</div>
            <div *ngIf="signup.controls['firstName']?.['errors']?.['minlength']" class="invalid">Firstname should contain atleast 3 characters</div>
            <div *ngIf="signup.controls['firstName']?.['errors']?.['pattern'] && !signup.controls['firstName']?.['errors']?.['minlength']" class="invalid">Firstname should contain only alphabets</div>
          </div>
       </div>
       <div class="form-group">
          <label>Last Name</label>
          <input type="text" ngModel name="lastName" class="form-control"required pattern="^[a-zA-Z]{3,20}$" minlength="1">
          <div *ngIf="signup.controls['lastName']?.['touched'] && signup.controls['lastName']?.['errors']">
            <div *ngIf="signup.controls['lastName']?.['errors']?.['required']" class="invalid">Lastname is required</div>
            <div *ngIf="signup.controls['firstName']?.['errors']?.['minlength']" class="invalid">Firstname should contain atleast 1 character</div>
            <div *ngIf="signup.controls['lastName']?.['errors']?.['pattern'] && !signup.controls['lastName']?.['errors']?.['minlength']" class="invalid">Lastname should contain only alphabets</div>
          </div>
       </div>
       <div class="form-group">
          <label>Email</label>
          <input type="email" ngModel name="email" class="form-control" required email>
          <div *ngIf="signup.controls['email']?.['touched'] && signup.controls['email']?.['errors']">
            <div *ngIf="signup.controls['email']?.['errors']?.['required']" class="invalid">Email is required</div>
            <div *ngIf="signup.controls['email']?.['errors']?.['email']" class="invalid">Enter valid Email</div>
          </div>
        </div>
       <div class="form-group">
          <label>Phone</label>
          <input type="text" ngModel name="phone" class="form-control" required pattern="^[0-9]{10}">
          <div *ngIf="signup.controls['phone']?.['touched'] && signup.controls['phone']?.['errors']">
            <div *ngIf="signup.controls['phone']?.['errors']?.['required']" class="invalid">Phone Number is required</div>
            <div *ngIf="signup.controls['phone']?.['errors']?.['pattern']" class="invalid" disabled="signup.invalid">Enter valid phone number</div>
            
          </div>
       </div>
        
       <div class="form-group">
        <label for="role">Role</label>
        <select id="inputRole"  ngModel name="role" class="form-control"  required>
            <option selected value="">Choose...</option>
            <option >Trainer</option>
            <option >Finance Team</option>
          </select>
          <div *ngIf="signup.controls['role']?.['touched'] && signup.controls['role']?.['errors']">
            <div *ngIf="signup.controls['role']?.['errors']?.['required']" class="invalid">Role is required</div>
          </div>
     </div>
    <br>
     <div class="form-group">
        <div class="radio" style="margin-bottom:15px;" ngModel name="gender" id="form-control">
            <label>Select Gender</label>
            <br>
        <div class="select">
        <input type="radio" name="radio" value="male">Male
        <input type="radio" name="radio" value="female">Female
        <input type="radio" name="radio" value="others">Others
       </div>
      <div class="radio"></div>
  </div>
     </div>

       <div class="form-group">
          <label>Password</label>
          <input type="password" ngModel name="password" class="form-control" minlength="8" required>
          <div *ngIf="signup.controls['password']?.['touched'] && signup.controls['password']?.['errors']">
            <div *ngIf="signup.controls['password']?.['errors']?.['required']" class="invalid">Password is required</div>
            <div *ngIf="signup.controls['password']?.['errors']?.['minlength']" class="invalid">Password should contain atleast 8 characters</div>
          </div>
       </div>
       <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" ngModel name="cpassword" class="form-control" required>
          <div *ngIf="signup.controls['cpassword']?.['touched'] && signup.controls['password']?.['value'] != signup.controls['cpassword']?.['value']" class="invalid">
               Passwords doesn't match
          </div>
       </div>
       <br>
       <button class="btn btn-primary"  [disabled]="signup.form.invalid" (click)="signupUser()">Sign Up</button>
       <div class="text-left"><a href="">Forgot Password?</a></div>
  <div class="text-left">Already a member? <a href="">Log In</a></div>

</form>
</div>
</div>
                                                                                                                    
