
<nav class="navbar navbar-expand-lg bg-secondary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/ict_icon.png" alt="icticon" width="100" height="90">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav " >
          <li class="nav-item">
            <a class="nav-link " href="#">Time Sheet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="financeupdate">Finance Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>