
    <div class="container">
   
      <br>
      <br>
          <div class="container">
         
          
        <form>
           
          <div class="box">
            <h2>PAYMENT CALCULATOR</h2><br>
            <div class="input">  
            <input id="input" type="text">NAME
            </div>
            
            <div class="input">  
              <input id="input" type="text">EMAIL
            </div>
      
            <div class="input">  
              <select id="floatingSelect" class = "form-select">
                <option selected value="">Choose...</option>
                <option >FSD</option>
                <option >ML & AI</option>
                <option >RPA</option>
                <option >CyberSecurity</option>
                <option >Data Science</option>
                <option >Digital Marketing</option>
                <option >Software Testing</option>
                </select>
                <label style="margin-left:10px;">PROGRAM</label>
              </div>
      
            <div class="input">  
            <select id="floatingSelect" class = "form-select">
              <option selected value="">Choose...</option>
              <option >Empanelled</option>
              <option >Expert</option>
              <option >Corporate</option>
              </select>
              <label style="margin-left:10px;">CATEGORY</label>
            </div>
            
            <div class="input">  
              <select id="floatingSelect" class = "form-select">
                <option selected value="">Choose...</option>
                <option >Highly Experienced</option>
                <option >Freelancer</option>
                <option >Career Break</option>
                <option >Experience>10yrs</option>
                <option >Experience>5yrs</option>
                <option >Experience>1yr</option>
                <option >TCS</option>
                <option >Others</option>
                
                </select>
                <label style="margin-left:10px;">SUB CATEGORY</label>
              </div>
            
              <div class="input">  
                <select id="floatingSelect" class = "form-select">
                  <option selected value="">Choose...</option>
                  <option >Virtual</option>
                  <option >Physical</option>
                  <option >Hybrid</option>
                  </select>
                  <label style="margin-left:10px;">MODE</label>
                </div>
            
            <div class="input"> 
            <input id="input" type="text">DURATION
            </div>
      
            <div class="input">  
              <select id="floatingSelect" class = "form-select">
                <option selected value="">Choose...</option>
                <option >Yes</option>
                <option >No</option>
                <option >Not Applicable</option>
                </select>
                <label style="margin-left:10px;;">OTHER ACTIVITIES</label>
      
              </div>
      
            <div class="input"> 
                <input id="input" type="text">WORKS EVALUATED
                </div>
      
            <div class="reset">CALCULATE</div>
          </div>
          
              
           
        </form>
          
          
            
          </div>
        
       
      
      
      
  
    
      
    </div>
  
 