<br>
<br>
    <div class="container">
   
    
  <form>
     
    <div class="box">
      <h2>PAYMENT CALCULATOR</h2><br>
      <div class="input">  
      <input id="input" type="text">NAME
      </div>
      
      <div class="input">  
        <input id="input" type="text">EMAIL
      </div>

      <div class="input">  
      <input id="input" type="text">CATEGORY
      </div>
      
      <div class="input">  
      <input id="input" type="text">SUBCATEGORY
      </div>
      
      
      <div class="input">  
      <input id="input" type="text">PROGRAM
      </div>
      
      <div class="input">  
      <input id="input" type="text">MODE
      </div>
      
      <div class="input"> 
      <input id="input" type="text">DURATION
      </div>
      <div class="reset">CALCULATE</div>
    </div>
    
        
     
  </form>
    
    
      
    </div>
  
 