body{
  border: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  background-color:grey;
  color: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



h2{
  font-size: 2em;
  text-align: center;
}
#input{
  margin-bottom: 1px;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-select{
  width: 22em;
  margin-left: 10px;
  margin-top: 8px;
  background-color: rgba( 255, 255, 255, 0.8);
}
input {
  width: 16.9em;
  height: 40px;
  margin: 0.5em;
  margin-top: 10px;
  border-radius: 0.3em;
  font-family:  sans-serif;
  color: #004d4d;
  text-align: center;
  background-color: rgba( 255, 255, 255, 0.8);
  font-size: 1.3em;
  border-style: none; 
  /* padding-top: 0.2em; */
}

input:hover{
  background-color: rgba( 255, 255, 255, 1);
}

.form-select:hover{
  background-color: rgba( 255, 255, 255, 1);
}

.box {
  background-color : #008080;
  width: 35em;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 0.5em;
  
}
.input {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.reset {
  width: 6em;
  background-color : darkgrey;
  border-radius: 0.4em;
  padding-top: 10px;
  padding-bottom: 6px;
  border-style: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.3em;
  color: black;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-duration: 0.4s; /* Safari*/
  transition-duration: 0.1s;
  border: solid 2px rgba( 255, 255, 255, 0.0);
}

.reset:hover {
  border: solid 2px rgba( 255, 255, 255, 0.8);
  cursor: pointer;
}


@media only screen and (max-width : 745px){
  body{
    height: auto;
  }
  form{
  width: 100%;
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  }
  
}

