<div class="button">
    <button type="button" class="btn btn-success" (click)="openDialog()">Add Timesheet</button>
</div>
<br>

<br>
<hr>

<!-- table -->
<table class="table">
    <thead>
        <tr>
          
          <th scope="col">Date</th>
          <th scope="col">Batch</th>
          <th scope="col">Program</th>
          <th scope="col">Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userData">
            
            <td>{{user.Date}}</td>
            <td>{{user.Batch}}</td>
            <td>{{user.Program}}</td>
            <td>{{user.Sessions}}</td>
            <td><button  class="btn btn-danger" (click)="deleteTimesheet(user)">Delete</button></td>
          </tr>
    </tbody>
</table>





