<div class="button">
    <button type="button" class="btn btn-success" (click)="openDialog()">Add Timesheet</button>
</div>
<br>

<br>
<hr>

<!-- table -->
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Date</th>
          <th scope="col">Batch</th>
          <th scope="col">Program</th>
          <th scope="col">Sessions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>ok</td>
          </tr>
    </tbody>
</table>





