<div class="card">
    <!-- <div class="card-header">
    </div> -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Trainer Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <!-- <tr *ngFor="let book of books">
                        <td>{{book.book}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.genre}}</td> -->
                        <td>Soe</td>
                        <td>soe@gmail.com</td>
    
                        <td>
                            <button class="btn btn-primary" style="cursor:pointer"  style="margin-right:10px">VIEW TIMESHEET</button>
                            <button class="btn btn-success" style="cursor:pointer"  style="margin-right:10px">CALCULATE PAYMENT</button>
                            <button class="btn btn-warning" style="cursor:pointer">VIEW PDF REPORT</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
                        