<div class="container">
    <table class="table">
        <thead>
            <tr>
              
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">View PDF</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pdf of pdfs">
                
                <td>{{pdf.Name}}</td>
                <td>{{pdf.Email}}</td>
                <td>
                    <button class="btn btn-primary" style="cursor:pointer"  (click)="createPdf()" style="margin-left: 20px;">View PDF</button>
                </td>
              </tr>
        </tbody>
    </table>
</div>
