<h2 mat-dialog-title class="title">Add Timesheet</h2>
<form class="forms">
  <mat-dialog-content>
    <!-- Name and Email Form -->
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1"  name="name" [(ngModel)]="timesheet.name && name" >
    </div>
  <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"  name="email" [(ngModel)]="timesheet.email && email">
    </div>
    <!-- Date Form -->
  <mat-form-field class="date">
      <label for="exampleInputEmail1">Date</label>
      <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="timesheet.date" name="date" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle [for]="myDatepicker" matSuffix></mat-datepicker-toggle> 
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    
    <!-- Batch Form -->
    <form class="form2" >
      <label for="Batch">Batch</label>
      <select name="languages" id="lang" [(ngModel)]="timesheet.batch" name="batch">
        <option value="FSD">FSD</option>
        <option value="Data science">Data science</option>
        <option value="AI">AI</option>
      </select>
      
</form>
    <!-- Form session type -->
    <form class="form2">
      <label for="Session">Session</label>
      <select name="languages" id="lang" [(ngModel)]="timesheet.session" name="session">
        <option value="Virtual Session">Virtual Sesion</option>
        <option value="Physical Session">Physical Session</option>
        <option value="Lark doubt Session">Lark doubt session</option>
      </select>
      
</form>
    <!-- Form total sessions -->
    <form class="form2">
      <label for="no of session">No of Session</label>
      <select name="languages" id="lang" [(ngModel)]="timesheet.number" name="number">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    
  <button mat-button mat-dialog-close>Cancel</button>
  <button  mat-button (click)="addtimesheet()" [mat-dialog-close]="true" cdkFocusInitial  >Submit</button>
</mat-dialog-actions>
</form>